// Pallette de couleur

$couleur-fond-clair: #f1f8fc;
$couleur-primaire: #0074c7;
$couleur-primaire-fonce: #00497c;
$couleur-texte: #384050;
$couleur-accent-rouge: #cd2c2e;
$couleur-accent-vert: #82b864;